/* UTILITY CLASS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}



body {
    height: 100vh;
    background-color: black;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
}

.white{
    color: white;
}
ul#menu li{
    display: inline;
}

ul#menu a{
    text-decoration: none;
    line-height: 30px;
    color: #646464;
    font-size: small;
    font-weight: 700;
    margin-right: 45px;
}

ul#menu hr{
    border-bottom: 2px solid #9AE22D;
    width: 35px;
    margin-left: 30px;
}
.far{
    color: #717171;
    margin-right: 10px;
}

.img_wrap .far{
    color: white;
}

.middle_up .fas{
    color: #FFFFFF;
    font-size: 22px;
    margin-right: 30px;
}

.f_right .fas{
    color: #FFFFFF;
    font-size: 14px;
    margin-right: 20px;
}

.middle_up .far{
    color: #FFFFFF;
    font-size: 32px;
    margin-right: 25px;
}

.img {
    width: auto;
    height: 35px;
    padding: 5px 0;
    filter: sepia(100%) invert(50%);
}

h1, h2, h3,
h4, h5 {
    color: white;
}


ul {
    list-style: none;
    margin-top: 20px;
    font-weight: 600;
}

.sidebar a {
    text-decoration: none;
    line-height: 30px;
    color: #646464;
    font-size: 13px;
}

.up_container p {
    margin-left: 10px;
    font-weight: 600;
}



/* HOVER */

.img_wrap:hover{
    cursor: pointer;
    opacity: 0.5;
}



#hover:hover .play1{
    visibility: visible;
}



/* MAIN */

.logo {
    width: auto;
    height: 75px;
    padding: 15px 0;
}

.sidebar {
    background-color: black;
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}




/* UP CONTAINER */

.sidebar{
    overflow: hidden;
}
.up_container {
    display: flex;
    flex-direction: column;
    height: 500px;
}
.house,.search,.libreria,
.new, .download, .profile {
    display: flex;
    align-items: center;
    font-size: small;
    color: #646464;
}
.playlist {
    margin: 15px 0px;
}
.add {
    width: 15%;
    height: auto;
    margin-right: 10px;
}

/* BOTTOM CONTAINER */


.bottom_container {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.Bottom_container hr{
    border-top: 1px solid #2A2A2A;
    margin: 5px 0 10px 0;
}

.profile{
    margin-top: 10px;
}


/* CONTENITORE CENTRALE */

main {
    height: calc(100vh - 100px);
    display: flex;
}

nav{
    display: flex;
    text-align: center;
    justify-content: center;
}

.main_container {
    background-color: #141922;
    height: calc(100% - 90px);
    width: calc(100% - 250px);
    overflow-y: auto;
    overflow: hidden;
    margin-top: 90px;
}

.contenuto { 
    margin: 30px 25px;
    height: calc(100% - 90px);
}

.contenuto h2{
    margin-left: 8px;
    margin-bottom: 30px;
}

.contenuto h3{
    font-size: small;
}

.img_wrap h3{
    margin: 10px 0;
}

.img_wrap p{
    color: #76787D;
    font-size: 10px;
    font-weight: 700;
}

.row {
    margin: 10px 8px;
    display: flex;
  

}

.img_wrap {
    width: calc(100% / 6);
    position: relative;
    margin-right: 20px;
   
    
}

.play1{
    position: absolute;
    font-size: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

.immagine{
    width: 100%;
    height: auto;
}

.testo{
   text-align: center;
   margin: auto;
}






/* FOOTER */

footer {
    height: 100px;
    background-color: #282828;
    width: 100%;
}


/* Footer left side */
.site_footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.f_left{
    width: 250px;
    padding: 25px 10px;
    display: flex;
    align-items: center;
}

.sinister_wrap{
    flex-basis: 30%;

    
}
.sinister{
    width: 70%;
    height:auto;
}

.heart_cont{
    display: flex;
    justify-content: flex-end;
    flex-basis: 35%;
}

/* Footer middle side UP */

.f_middle{
    width: calc(100% - 500px);
    display: flex;
    flex-direction: column;
}

.middle_up{
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding-top: 15px;
}


/* Footer middle side Bottom */


.middle_bottom{
    display: flex;
    flex-basis: 60%;
    align-items: center;
    justify-content: center;
}

.bottom_middle{
    display: flex;
}

.white{
    width: 100px;
    height: 1px;
    border: 2px solid #C1C1C1;
    margin-left: 20px;
}

.grey{
    width: 350px;
    height: 1px;
    border: 2px solid #5A5A5A;
    margin-right: 20px;
}

.middle_bottom p{
    color: #DFDFDF;
    font-size: small;
}


/* Footer right */

.f_right{
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line{
    display: flex;
}

.line_white{
    width: 25px;
    height: 1px;
    border: 2px solid white;
}
.line_grey{
    width: 90px;
    height: 1px;
    border: 2px solid #5A5A5A;
}


























/*******************
        DEBUG
****************** */

.debug body {
    height: 100vh;
    overflow: hidden;
}






/* MAIN */


.debug main {
    background-color: lightseagreen;
    height: calc(100vh - 100px);
    display: flex;

}


.debug .sidebar {
    background-color: lime;
    width: 250px;
    height: 100%;
    display: flex;
    float: left;
    flex-direction: column;
    justify-content: space-between;
}

.debug .up_container {
    background-color: mediumorchid;
    height: 300px;
}

.debug .bottom_container {
    background-color: mediumorchid;
    height: 100px;

}


/* CONTENITORE CENTRALE */


.debug .main_container {
    background-color: blue;
    height: 100%;
    width: calc(100% - 250px);
    float: left;
    overflow-y: auto;

}

.debug .contenuto {
    margin: 15px auto;

}

.debug .row {
    margin: 10px 8px;
}


.debug .cont {
    width: calc(100% / 4);
    height: 250px;
    background-color: orange;
    padding: 5px 3px;
    float: left;

}





/* FOOTER */

.debug footer {
    height: 100px;
    background-color: lightgrey;
}